{% extends "blog/base.html" %}
{% block header %}

{% endblock %}
{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="twelve columns" style="padding-bottom: 8rem;">
            <h1>About/Contact Info</h1>
                Socials/Email :


                <a href="{{ contact.Twitter_link }}" target="_blank" title="Facebook Page"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="{{ contact.Facebook_link }}" title="Facebook Page"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="{{ contact.Instagram_link }}" title="Facebook Page"><i class="fab fa-instagram fa-2x"></i></a>/
                robert_melen@yahoo.co.uk

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="one-half column">
            <hr>
           <img src="{{ MEDIA_URL }}{{ contact.bio_image.url }}"  style="width: 90%; height: auto;">

        </div>
        <div class="one-half column">
            <hr>
            <h3>About/What I do</h3>
            <h5>{{ contact.bio }}</h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="twelve columns" style="padding-top: 7rem;">
           <h6>You can send me a messge via this form</h6>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Send email">
            </form>
        </div>
    </div>
</div>

{% endblock %}
</body>