{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        <small>Published {{ post.publish }} by {{ post.author }}</small>
    </p>
    {{ post.body|linebreaks }}
<p>
    <a href="{% url 'myblog:post_share' post.id %}">
    Share this post
    </a>
</p>
{% with comments.count as total_comments %}
    <h5>
        {{ total.comments }} comment{{ total_comments|pluralize }}
    </h5>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
{% empty %}
    <p>There are no comments yet</p>
{% endfor %}
{% if new_comment %}
    <h3>Your comment has bee added. Thanks!</h3>
{% else %}
    <h5>Add a new comment about this post</h5>
<div class="form-box"">
    <h4>Add a comment about this post</h4>
    <form method="post" style="border-bottom: 2px solid black;">
        <label class="label">Name</label>
        {% render_field comment_form.name class="input" placeholder="Your name" %}
        <label class="label">Email</label>
        {% render_field comment_form.email class="input" placeholder="example@example.com" %}
        <label class="label">Message</label>
        {% render_field comment_form.body class="textarea" placeholder="This post is...." %}
        {% csrf_token %}
        <p><input class="button-primary" type="submit" value="Submit" />
    </form>
</div>

{% endif %}
{% endblock %}