{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}

{% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
<div>
    <h5>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
            <div><img src="{{ media_uel }}{{ post.cover.gallery_detail.url }}" style="width:auto; height:auto;"></div>
        </a>
    </h5>

    <p>
        <small><em>Published {{ post.publish }} by {{ post.author }}</small></em>
    </p>
    {{ post.body|markdown|truncatewords:30 }}
    <hr style="width : 15%; border-color: #123455">
</div>
<div>
    <p class="tags"><h7>Tags:</h7>
                {% for tag in post.tags.all %}
                <a href="{% url "myblog:post_list_by_tag" tag.slug %}"
                {{tag.name}}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
    </p>
    <hr>
</div>
{% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}
