{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
<h1>Latest Posts</h1>
{% if tag %}
<h2 xmlns="http://www.w3.org/1999/html">Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            {% include "pagination.html" with page=posts %}
    {% for post in posts %}
    <h5>

        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
            <div style="-webkit-box-shadow: -1px 9px 18px 0px rgba(0,0,0,0.75);">
                <img src="{{ media_url }}{{ post.cover.gallery_detail.url }}" style=" max-width:80%; height:auto;">
            </div>
        </a>
    </h5>

    <p>
        <small><em>Published {{ post.publish }} by {{ post.author }}</small></em>
    </p>
    {{ post.body|markdown|truncatewords:15 }}
    <hr style="width : 15%; border-color: #123455">

<div>
    <p class="tags"><h7>Tags:</h7>
        {% for tag in post.tags.all %}
            <a href="{% url "myblog:post_list_by_tag" tag.slug %}"> {{ tag.name }}"
                </a>
                {% if not forloop.last %},{% endif %}
                {% endfor %}
    </p>
    <hr>
</div>
            {% endfor %}
            <a class="button" href="#">Top of Page</a>
            {% endblock %}
