{% extends "blog/base.html" %}
{% block header %}{% endblock %}
{% block content %}
<h6>I will be adding system to license and purchase images via this website ASAP.
    in the meantime please <a href="{% url 'myblog:contact_form' %}"><i>contact</i></a> me for usage or personal use.<h6/>

<hr>

    <h6>On he subject of pictures! All images are my lawful copyright and cannot be used without permission
    in any format, that includes social media. Any breaches in copyright will be acted upton.<h6/>
{% endblock %}

