{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% load blog_tags %}
{% block title %}Search{% endblock %}
{% block content %}
    {% if query %}
        <h1>Posts containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} results{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            {{ post.body|markdown|truncatewords_html:5 }}
        {% empty %}
            <p>There are no results</p>
        {% endfor %}
        <p><a href="{% url "myblog:post_search" %}">Search again</a></p>
    {% else %}
        <h4>Search posts</h4>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
        <form method="get">
            <label class="label">Search</label>
            {% render_field form.query class="input" placeholder="Enter search term" %}
            <input type="submit" value="Search">
        </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}


