{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load thumbnail %}
    <div class="main">
<h1>Galleries</h1>
        <!-- Albums  -->
 {% include 'pagination.html' with page=galleries %}


        {% for album in galleries.object_list %}
                <ul>
               <div class="title">{{ album.title }} ({{ album.photos.count }} images)</div>
            </ul>

        {% for img in album.images %}
         {% thumbnail img "100x100" crop="center" as im %}

         <img src="{{ im.url }}"/>

         {% endthumbnail %}

         {% endfor %}
         {% endfor %}



         {% endblock %}