{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}{% endblock %}
{% block featured %}{% endblock %}
{% block content %}
<br>
<div style="position:relative;top:-10px; "><h1>/Galleries</h1></div>
{% include 'pagination.html' with page=galleries %}
<br>
<br>
<br>
<div class="container" style="background-color: white;">
    <div class="row">
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="twelve columns">

              {% for album in galleries %}
                     <div><a href="{{ album.get_absolute_url }}">
				    <img src="{{ album.thumb.gallery_thumbnail.url }}"
                     style="float:left; padding: 0 60px 60px 0; max-width: 100% height: auto;"></a>/Created:{{ album.created|date:"F d Y" }}</div>
                    <div style="padding-bottom: 12%;"><a  href="{{ album.get_absolute_url }}"><h5>{{ album.title }} / (images {{ album.photos.count }})</h5></a>
                     <h6>{{ album.summary }}</h6>

                     <hr>
              {% endfor %}
        </div>
    </div>
</div>




{% endblock %}

