{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

    <div class="main">
<h1>Galleries</h1>
        <!-- Albums  -->
 {% include 'pagination.html' with page=galleries %}


        {% for album in galleries %}
                <ul>
               <div class="title">{{ album.title }} ({{ album.photos.count }} images)</div>
            </ul>
        <img src="{{ MEDIA_URL }}{{ album.thumb.thumbnail.url }}" />
         {% endfor %}




         {% endblock %}