{% load blog_tags %}
{% load static %}
{% load widget_tweaks %}
{% include "blog/scripts.html" %}
 <style>
    a { color: black; } /* CSS link color */
  </style>
<div style="background-color: #F0F0F0; text-align:center" xmlns="">
        {% include "blog/nav_bar.html" %}
        <div class="container">
            <div class="row">
                <div class="twelve columns"><p style="top: 25px; position: relative;"><h6 style="color:black;">{% now "jS F Y" %}</h6></p></div>
            </div>
        </div>
        {% block header %}
        </div>
 {% regroup posts_all by publish.year as year_list %}

    <ul>
    {% for year in year_list %}
        <li>{{ year.grouper }}
            {% regroup year.list by publish.month as month_list %}
            <ul>
            {% for month in month_list %}

                <li>><a href="{% url "myblog:post_archive" year.grouper %}">{{ month.list.0.posted|date:'b' }}  ({{ month.list|length }})</a></li>

            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>




        <div class="container" style="background-color: #E8E8E8;" >
            <div class="row">
                <div class="twelve columns" style="text-align: center; clear: right;
                 margin-top: -50px; background-color: white; ">



                    <hr class="solid">

                    <h3 style="letter-spacing: 1px; position:relative; top:5px; ">
                        <i>Blog</i> by photographer, <strong>Robert Melen</strong></h3>

                    <h6 style="font-family:Georgia;">Welcome to my Blog/I wrote this using the Django framework written in Python. There are {% total_posts %} published articles</h6>
                     {% for images in image_featured %}


                        <img src="{{images.mid_thumbnail.url }}" style="max-height: 400px;"/>
                    {% endfor %}
                    <h6>Subscribe</h6>
                    <hr class="solid">
                </div>
            </div>
        </div>


        {% endblock %}
        {% block sticky %}
        <div class="container" style="background: rgb(255, 255, 255);">
        <div id="sticky" style=" position: sticky;
        top: 0; z-index: 5;
         height: 80px; ">
            {% block featured %}
            {% include "blog/blogpage.html" %}
            {% endblock %}
        </div>
        </div>
        {%  endblock %}

        <div class="container">
            <div class="row">
                <div class="twelve columns" style="padding:50px; text-align: center;
                 background-color: white;">

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
 {% block archive %}
                    {% endblock %}
{% include "blog/js.html" %}
        </html>
