{% load blog_tags %}
{% load static %}
{% load widget_tweaks %}
{% include "blog/scripts.html" %}
 <style>
    a { color: black; } /* CSS link color */
 </style>
{% include "blog/nav_bar.html" %}
{% block header %}
        <div class="container" style="background-color: #E8E8E8;" >
            <div class="row">
                <div class="twelve columns" style="text-align: center; clear: right;
                 margin-top: 10px; background-color: white; ">
                    <h6 style="color:black;">{% now "jS F Y" %}</h6>
                    <h3 style="letter-spacing: 1px; position:relative; top:5px; ">
                        <i>Blog</i> by photographer/<strong>Robert Melen</strong></h3>
                    <h6 style="font-family:Georgia;">Welcome to my Blog/I wrote this using the Django framework written in Python. There are {% total_posts %} published articles</h6>
                     {% for images in image_featured %}
                    <img src="{{images.mid_thumbnail.url }}" style="max-height: 400px;"/>
                    {% endfor %}
                    <h6>Subscribe</h6>
                    <hr class="solid">
                </div>
            </div>
        </div>
{% endblock %}

<body>
        <div class="container">
            <div class="row">
                <div class="twelve columns" style="position:relative;top:30px; text-align: center;
                 background-color: white;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
         <div class="container">
            <div class="row">
                <div class="twelve columns" style=" text-align: center;">
                   {% include "blog/footer.html" %}
                </div>
            </div>
        </div>
</body>
<script src="{% static "js/gh.js" %}"></script>

{% include "blog/js.html" %}
</html>

