{% load blog_tags %}
{% load static %}
{% load widget_tweaks %}
{% include "blog/scripts.html" %}
 <style>
    a { color: black; } /* CSS link color */
  </style>
<body style="background-color: #F0F0F0; text-align:center" xmlns="">
        {% include "blog/nav_bar.html" %}
        <div class="container">
            <div class="row">
                <div class="twelve columns"><p style="top: 25px; position: relative;">{% now "jS F Y" %}</p></div>
            </div>
        </div>
        {% block header %}
        <div class="container" style="background-color: #E8E8E8;" >
            <div class="row">
                <div class="twelve columns" style="text-align: center; clear: right;
                 margin-top: -50px;">
                    <hr class="solid">

                    <h3 style="letter-spacing: 1px; position:relative; top:10px; ">
                        <i>Blog</i> by photographer, <strong>Robert Melen</strong></h3>
                    <h6>Welcome to my Blog. There are {% total_posts %} published articles</h6>
                     {% for images in image_featured %}
                        <a href="{{ MEDIA_URL }}{{ images.image.url }}">
                        <img src="{{ MEDIA_URL }}{{images.image.url }}" style="max-height: 200px;"/>
                    {% endfor %}
                    <h6>Subscribe</h6>
                    <hr class="solid">
                </div>
            </div>
        </div>
        {% endblock %}
        {% block sticky %}
        <div id="sticky" style=" position: sticky;
        top: 0; z-index: 5;
        box-shadow: 5px 5px 5px grey; height: 80px;">
            {% block featured %}
            {% include "blog/blogpage.html" %}
            {% endblock %}
        </div>
        {%  endblock %}

        <div class="container">
            <div class="row">
                <div class="twelve columns" style="padding:50px; text-align: center;
                border-style: solid;
                border-color: #DCDCDC; border-radius: 25px;">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
{% include "blog/js.html" %}
        </html>
