{% load blog_tags %}
<nav class="nav-show">
            <div class="container">
                <ul>
                    <li><a href="{% url 'myblog:post_list' %}">Home</a></li>
                    <li>
                        <a href="{% url 'myblog:photo_list' %}">Images</a>
                        <ul>
                            <li><a href="#">Galleries</a></li>
                            <li><a href="#">License/Purchase</a></li>
                        </ul>
                    </li>
                    <li><a href="#combos">Contact</a></li>
                    <li>
                        <a href="#manage">Manage</a>
                        <ul>
                            <li><a href="#">My Decks</a></li>
                            <li><a href="#">My Combos</a></li>
                            <li><a href="#">My Collection</a></li>
                            <li><a href="#">My Shop</a></li>
                        </ul>
                    </li>
                    <li class="u-pull-right" style="padding: 1%;"><a class="button button-primary" href="#login">Login</a></li>
                    <li class="right" style="padding: 1%;" ><a class="button button-primary" href="#register">Register</a></li>
                    <li class="icon">
                        <a href="javascript:void(0);" onclick="toggleMobileNav();">&#9776;</a>
                    </li>
                </ul>
            </div>
        </nav>