.form-box {
  max-width: 450px;

  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

input, textarea {
  width: 100%;
}

.chr {
    width: 15%;
    color: #000000;
}

.u-img-responsive {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto%; }


a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
